<div class="header">
    <!--<h1 class="brand-title custom-input">{{title}}</h1>-->
    <!--<h2 class="brand-tagline">{{tagline}}</h2>-->
    <h1 class="brand-title">
        <input class="custom-input" type="text" placeholder=":{{title}}">
        <a href="#edit-title"><i class="fa fa-pencil"></i></a>
    </h1>
    <h2 class="brand-tagline">
        <input class="custom-input" type="text" placeholder=":{{tagline}}">
        <a href="#edit-tagline"><i class="fa fa-pencil"></i></a>
    </h2>
    <!--% include('nav.html')-->
    <!--<link rel="stylesheet" href="css/layouts/side-menu.css">-->
    <!--% include('navmenu.html')-->
</div>
