<div class="header">
    <h1 class="brand-title">
        {{sitevars['title']}}
    </h1>
    <nav class="nav">
        <ul class="nav-list">
            % for name, href in sitevars['nav_list']:
            <li class="nav-item">
                <a class="pure-button" href="{{href}}">{{name}}</a>
            </li>
            % end
        </ul>
    </nav>
    <!--% include('nav.html')-->
    <!--<link rel="stylesheet" href="css/layouts/side-menu.css">-->
    <!--% include('navmenu.html')-->
</div>